*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', 'Arial Narrow', Arial, sans-serif !important;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    height: 150px;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: space-between !important;
    width: 100vw !important;
}

h2 {
    font-weight: bold !important;

}

i {
    font-size: 5em;
    color: #FFA904;
}

.nav-items {
    display: flex;
    gap: 25px;
}

.nav-items a {
    padding-top: 10px;
}

#logo {
    width: 300px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: black;
    overflow: hidden;
    margin-bottom: 100px;
}

.hero-text-container {
    position: relative;
    top: -525px;
    z-index: 10;
    padding-left: 6% !important;
    padding-right: 6% !important;
}

@media screen and (min-width: 800px) {
    .hero-text-container {
        padding-right: 45% !important;
    }

    .h1-hero {
        font-size: 4em !important;
    }

}

.h1-hero {
    font-size: 3em;
    color: white;

}

.p-hero {
    font-size: 1.5em;
    color: white;
    margin-bottom: 30px;
}

.highlight {
    color: #FFA904;
}

.tsI_vl {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
}

.row {
    margin-bottom: 200px;
}

.col-lg-4.marketing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.btn.btn-secondary {
    background-color: #FFA904;
    border: none;
}

.btn {
    display: flex !important;
    height: 45px;
    width: auto;
    align-items: center;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-weight: 800 !important;
    color: black !important;
}

.btn.btn-primary {
    background-color: #FFA904;
    border: none;
    color: black;
}


.btn:hover {
    background-color: black !important;
    color: white !important;
}

.btn.btn-dark:hover {
    background-color: white !important;
    color: black !important;
}
