---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import OverviewCard from '../components/Overview-card.astro'
import Layout from '../layouts/Layout.astro'
---


<!DOCTYPE html>
<Layout>
<Nav/>
  <main>
    <div class="header-2">
      <div class="container">
        <p class="subtitle"> SERVICES </p>
        <h1> Services Overview</h1>
      </div>
    </div>

    <OverviewCard/>
  </main>

<Footer/>
</Layout>

