---
interface Props {
	title: string;
	body: string;
	img: string;
}

const { img, title, body } = Astro.props;
---

<div class="container card bg-dark d-flex">
<h2>{title}</h2>
<p>{body}</p>
</div>

<style>
    .card {
        height: 300px;
        width: auto;
    }
    h2 {
        color: white;
        text-decoration: underline;
        border-bottom: 2px solid red;
    }
    p {
        color: white;
    }
</style>